<section class="container">
  <div class="selecao">
    <label for="uf">Selecione um UF: </label>
    <select id="uf" [(ngModel)]="uf" (click)="getMunicipios()">
      <option value="SP">São Paulo</option>
      <option value="RJ">Rio de Janeiro</option>
      <option value="BA">Bahia</option>
      <option value="GO">Goiás</option>
      <option value="RO">Rondônia</option>
      <option value="AC">Acre</option>
      <option value="AM">Amazonas</option>
      <option value="RR">Roraima</option>
      <option value="PA">Pará</option>
      <option value="AP">Amapá</option>
      <option value="TO">Tocantins</option>
      <option value="MA">Maranhão</option>
      <option value="PI">Piauí</option>
      <option value="CE">Ceará</option>
      <option value="RN">Rio Grande do Norte</option>
      <option value="PB">Paraíba</option>
      <option value="PE">Pernambuco</option>
      <option value="AL">Alagoas</option>
      <option value="SE">Sergipe</option>
      <option value="BA">Bahia</option>
      <option value="MG">Minas Gerais</option>
      <option value="ES">Espírito Santo</option>
      <option value="PR">Paraná</option>
      <option value="SC">Santa Catarina</option>
      <option value="RS">Rio Grande do Sul</option>
      <option value="MS">Mato Grosso do Sul</option>
      <option value="MT">Mato Grosso</option>
      <option value="GO">Goiás</option>
      <option value="DF">Distrito Federal</option>
    </select>
  </div>

  <div class="lista-municipios">
    <h1>Municípios: {{ uf }}</h1>
    <ul>
      <li *ngFor="let municipio of municipios">{{ municipio.nome }}</li>
    </ul>
  </div>
  
</section>